beautifulsoup4==4.6.0
boto3==1.7.62
botocore==1.10.62
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.7
jmespath==0.9.3
keras==2.2.4
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.15.4
pandas==0.23.4
pyparsing==2.3.0
python-dateutil==2.7.3
requests==2.19.1
s3transfer==0.1.13
scikit-learn==0.20
six==1.11.0
tensorflow==1.12.0
urllib3==1.23
virtualenv==16.0.0
youtube-transcript-api==0.1.1
